---
layout: page
---
<h2 class="post-title">
    [ Cycling ]
</h2>
<ul>
    <li>
        <h3 style="margin-bottom: 5px;">Bikes</h3>
        <ul>
            {% for post in site.categories['Bikes'] %}
            <li>
               <h4 style="margin-top: 0px; margin-bottom: 0px;"><a href="{{ post.url }}">{{ post.title }}</a></h4>
            </li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <h3 style="margin-bottom: 5px;">Tour</h3>
        <ul>
            {% for post in site.categories['Tour'] %}
            <li>
               <h4 style="margin-top: 0px; margin-bottom: 0px;"><a href="{{ post.url }}">{{ post.title }}</a></h4>
            </li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <h3 style="margin-bottom: 5px;">Parts</h3>
        <ul>
            {% for post in site.categories['Bike Parts'] %}
            <li>
               <h4 style="margin-top: 0px; margin-bottom: 0px;"><a href="{{ post.url }}">{{ post.title }}</a></h4>
            </li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <h3 style="margin-bottom: 5px;">Accessories</h3>
        <ul>
            {% for post in site.categories['Bike Accessories'] %}
            <li>
               <h4 style="margin-top: 0px; margin-bottom: 0px;"><a href="{{ post.url }}">{{ post.title }}</a></h4>
            </li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <h3 style="margin-bottom: 5px;">Tools&MA</h3>
        <ul>
            {% for post in site.categories['Tools&MA'] %}
            <li>
               <h4 style="margin-top: 0px; margin-bottom: 0px;"><a href="{{ post.url }}">{{ post.title }}</a></h4>
            </li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <h3 style="margin-bottom: 5px;">Clothing</h3>
        <ul>
            {% for post in site.categories['Cycling Clothing'] %}
            <li>
               <h4 style="margin-top: 0px; margin-bottom: 0px;"><a href="{{ post.url }}">{{ post.title }}</a></h4>
            </li>
            {% endfor %}
        </ul>
    </li>
</ul>
